@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
}

body.no-scroll{
    overflow: hidden;
}
/**********************************Nav************************/
.navbar-main{
 
    .navbar-contents{
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        .logo{
            padding: 32px 0px;
            img{
                height: 67px;
            }
        }
    }
}

.menu-container{
    position: absolute;
    z-index: 999;
    top:0;
    left:-100%;
    height: 100%;
    width: 100%;
    background-color: #fff;
    padding: 30px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    li {
        list-style-type: none;
        padding: 16px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        a {
            text-decoration: none;
            color: #333333; 
            font-size: 18px;
            font-weight: 400;
           
            &:hover{
                color: #44B564;
                transition: 0.3s ease-in-out;
            }
        }
    
        a:active, a.active{
            position:relative;
            color: #44B564;
            &::after{
                content: '';
                position: absolute;
               
                top: 28px;
                left: 45%;
                
                height: 7px;
                width: 7px;
                border-radius: 50%;
                color: #44B564; 
                background-color: #64CF83;
               
                margin-bottom: 11px;
            }
        }
          
          
    
        // a.active{
        // color: #44B564;
       
        // }
       
        // .circle{
        //     height: 7px;
        //     width: 7px;
        //     border-radius: 50%;
        //     background-color: #64CF83;
        //     margin-top: 12px;
        // }

     
    }
    
}

.menu-container.active{
    left:0;
}

.close{
    font-size: 32px;
    color: #44B564;
}
.menu-icon{
    display: block;
    position: relative;
    height: 30px;
    width: 30px;
    right: 30px;
    top: 50%;
    .bar{
        position: relative;
        height: 4px;
        width:22px;
        background-color: rgba(51, 51, 51, 0.65);;
        display: inline-block;
        left: 5px;
        &::before{
            content: '';
            position: absolute;
            height: 4px;
            width:22px;
            background-color: rgba(51, 51, 51, 0.65);;
            display: inline-block;
            top: -6px;
        }
        
        &::after{
            content: '';
            position: absolute;
            height: 4px;
            width:22px;
            background-color: rgba(51, 51, 51, 0.65);;
            display: inline-block;
            top: 6px;
        }
        
    }
}

.menu-icon.hide{
    display: none;
}


/**************Home********************/

.home-section{
    width: 100%;
    background-color: #fff;

    .home-contents{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 0 15px;
        justify-content: space-around;
        .right-contents{
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 80%;
            }
        }

        .left-contents{
            display: flex;
            flex-direction: column;
            align-items: center;
            .danger-info{
                .danger-icon,.danger-text{
                    font-size: 18px;
                    line-height: 40px;
                    font-weight: 500;
                    letter-spacing: 0.02em;
                    color: #ff0000;
                    text-align: center;
                }
            } 
            .bold-subhead{
                text-align: center;
                font-size: 39px;
                font-weight: 700;
                line-height: 56px;
            }
            .description{
                
                text-align: center;
                font-size: 22px;
                font-weight: 400;
                letter-spacing: 0.02em;
                line-height: 40px;
                color: rgba(51, 51, 51, 0.65);
              
            }
            .help-container{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 30px 0 60px 0;
                cursor: pointer;
              
                .help-btn{
                    background-color: #44B564;
                    color: #fff;
                    padding: 24px 56px 24px 56px;
                    border: 0;
                    border-radius:24px;
                    font-size: 18px;
                    font-family: 'Inter', sans-serif;
                    font-weight: 500;
                    cursor: pointer;
                }
            }
        }
    }
}


/**************************Info**********************************/

.info-fluid{
    width: 100%;
    .info-container{
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
        box-shadow: 0px 0px 57px -7px rgba(119, 119, 119, 0.12);
        border-radius: 24px;
        flex-direction: column;
        .details-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            
            .group1,.group2,.group3,.group4{
                display: flex;
                flex-direction:column;
                align-items: center;
                padding: 20px 0;
            }
            .title{
                font-size: 20px;
                font-weight: 500;
                line-height: 24px;
                text-align: center;
                color: #555555;
            }
            .count{
                padding-top: 10px;
                font-size: 28px;
                line-height: 34px;
                letter-spacing: 0.03em;
                color: #484848;
                font-weight: 600;
            }
            .detail{
                padding-top: 11px;
                font-size: 18px;
                line-height: 22px;
                color: #777777;
                font-weight: 500;
                text-align: center;
            }
        .group3 .count{
            color:#64CF82;
        }
        .group4 .count{
            color: #ff0000;
        }
         
        }
        .bottom-container{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding-top: 43px;
            padding-bottom: 25px;
            .contents{
                display: flex;
                align-items: center;
                .country{
                    padding-left: 12px;
                    font-size: 18px;
                    line-height: 22px;
                    color: #777777;
                }
                .operator{
                    padding-left: 10px;
                    color: #777777;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 17px;
                }
            }
            .date-info{
                padding-left: 8px;
                font-size: 16px;
                line-height: 22px;
                color: #777777;
            }
        }
    }
}



/*********************action***************************/

.action-fluid{
    width: 100%;
    margin-top: 50px;
    .action-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-between;
        .action-left{
           
            img{
                width: 100%;
                height: auto;
            }
        }

        .action-right{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding-top: 15px;
          .right-title{
            font-weight: 600;
            font-size: 36px;
            line-height: 40px;            
            letter-spacing: 0.02em;
            color: #333333;
          }

          .line{
              margin-top: 18.5px;
                width: 153px;
                background-color: #64CF83;
              border: 3px solid #64CF83;
          }
            .action-msg{
                padding-top: 32px;
                font-weight: 500;
                font-size: 20px;
                line-height: 32px;
                letter-spacing: 0.02em;
                color: #555555;
              
             
            }
            .action-points 
            {
                padding-top: 25px;  
                   
            
                li{
                    
                    list-style-type: none;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 32px;
                    letter-spacing: 0.02em;
                    color: #555555;
                    padding-bottom: 10px;
                    padding-left: 56px;
                   
                  
                &::before{
                    content: '';
                    position: absolute;
                    left: 0;
                    background-image: url('./Images/virus.svg');
                    background-repeat: no-repeat;
                    background-size: contain;
                    height: 32px;
                    width: 31px;
                    display: inline-block;
                }
    

                } 
            }

            .action-contact-round{
                display: flex;
                align-items: center;
                margin-top: 30px;
                border: 0;
                background:#fff;
                position: relative;
                align-self: flex-start;
              
                button{
                    position: absolute;
                    top: 11px;
                    left: 15.5px;
                    z-index: 99;
                    width: max-content;
                    border: 0;
                    background: #fff;
                    bottom: 14px;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    color: #444444;
                    cursor: pointer;

                }

            
            }
            
        }
    }
}


/***********************************Prevention*********************************/

.prevention-fluid{
    width: 100%;
    margin-top: 50px;
    .prevention-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .title-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .main-title{
                font-weight: 600;
                font-size: 36px;
                line-height: 40px;
                text-align: center;
                letter-spacing: 0.02em;
                color: #333333;
            }
            .prevention-line{
                margin-top: 20px;
                border: 3px solid #64CF83;
                width: 115px;
                background: #64CF83;
            }
        }
        .prevention-info{
            padding-top: 30px;
            .message{
              
                font-weight: 500;
                font-size: 20px;
                line-height: 32px;
                text-align: center;
                letter-spacing: 0.02em;
                color: #555555;
            }
        }
        .cards-container{
            padding-top: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;            

            .mask-card,.wash-card,.distance-card{
                margin-top: 30px;
                background: #FFFFFF;
                box-shadow: 0px 0px 44px -5px rgba(102, 102, 102, 0.1);
                border-radius: 25px;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 330px;
                margin-bottom: 20px;
                .sub-heading{
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 32px;
                    text-align: center;
                }
                .card-text{
                    text-align: left;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 28px;
                    letter-spacing: 0.01em;
                    color: #777777;
                    padding: 10px 40px 25px 40px;
                }

                img{
                    position: relative;
                    top: -40px;
                }
            }
        }
    }
}


/*****************************symptoms********************************************/

.symptoms-fluid{
    width: 100%;
    margin-top: 50px;
    padding-bottom: 51px;
    .symptoms-container{
        display: flex;
        flex-direction: column;
        align-items: center;
      
        .main-title-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            .main-title{
                font-weight: 600;
                font-size: 36px;
                line-height: 40px;
                text-align: center;
                letter-spacing: 0.02em;
                color: #333333;
            }
            .line{
                margin-top: 20px;
                width: 112px;
                border: 3px solid #64CF83;
                background-color: #64CF83;
            }
        }
        .symptoms-message{
            padding-top: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            .message{
              
                text-align: center;
                font-weight: 500;
                font-size: 20px;
                line-height: 32px;
                text-align: center;
                letter-spacing: 0.02em;
                color: #777777;
            }
        }
        .symptoms-img{
            padding-top: 50px;
                img{
                    width:100%;
                    height: auto;
                }
            }
        
    }
}



/****************************contact***************************/

.contact-fluid{
    width: 100%;
    background: linear-gradient(339.88deg, #64CF83 47.7%, #FFFFFF 47.71%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 60px;
    .contact-container{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #FFFFFF;
        justify-content:center;
        box-shadow: 0px 29px 0px -14px #5BC378, 0px 52px 0px -24px #4DB76B, 0px 0px 50px -1px rgba(82, 82, 82, 0.1);
        border-radius: 40px;
        padding-bottom: 53px;
          .title-section{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding-top: 60px;
            .main-title{
                font-weight: 600;
                font-size: 36px;
                line-height: 40px;
                text-align: center;
                letter-spacing: 0.02em;
                color: #333333;

            }
            .line{
                margin-top: 20px;
                width: 145px;
                border: 3px solid #64CF83;
                background: #64CF83;
            }
        }
        .help-message{
          padding-top:26px;
          width:80%;
            .message{
                font-weight: 500;
                font-size: 20px;
                line-height: 32px;
                text-align: center;
                letter-spacing: 0.02em;
                color: #777777;

            }
        }
        .help-image{
            padding-top: 50px;
            img{
                width: 100%;
                height: auto;
            }
        }

        .contact-info{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-top: 50px;
            width: 80%;
            .left-section{
                display: flex;
                flex-direction: column;
                .item{
                    display: flex;
                    align-items: center;
                    padding-bottom: 45px;
                
                    .person{ 
                        padding-left: 15px;
                    
                    .name{
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 22px;
                        text-transform: uppercase;
                        color: #555555;
                    }
                    .mobile{
                        padding-top: 7px;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 22px;
                    
                        color: #555555;
                    }
                }
                }
            }

            .right-section{
                display: flex;
                flex-direction: column;
                align-items: center;
         
                .right-form{
                   
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    .input-box{
                        margin-bottom: 25px;
                        background: #F4F4F4;
                        opacity: 0.5;
                        border-radius: 12px;
                        height: 65px;
                        position: relative;
                        input{
                            padding:22px 0 21px 25px;
                            font-size: 20px;
                            line-height: 22px;
                            color: #777777;
                            background: #F4F4F4;
                            border: 0;
                            outline: 0;
                        }
                        .icon{
                           position: absolute;
                           right: 25px;
                           top: 25px;
                        }
                  
                    }

                    .help-box{
                       
                        margin-bottom: 25px;
                        background: #F4F4F4;
                        opacity: 0.5;
                        border-radius: 12px;
                        height: 150px;
                        position: relative;
                     .help-text{
                       
                         padding:22px 0 21px 25px;
                         font-size: 20px;
                         line-height: 22px;
                         color: #777777;
                         background: #F4F4F4;
                         border: 0;
                         outline: 0;
                         
                     }
                     .icon{
                         position:absolute;
                         right: 25px;
                         top: 25px;
                     }
                     
                    
                       
                    }
                  
                     
                    
                }
                .contact-round{
                    display: flex;
                    align-items: center;
                    margin-top: 30px;
                    border: 0;
                    background:#fff;
                    position: relative;
                    align-self: flex-start;
                  
                    button{
                        position: absolute;
                        top: 11px;
                        left: 15.5px;
                        z-index: 99;
                        width: max-content;
                        border: 0;
                        background: #fff;
                        bottom: 14px;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 22px;
                        color: #444444;
                        cursor: pointer;
    
                    }
    
                
                }  
            }
        }
    }
}











/********************************DESKTOP****************************/

@media screen and(min-width:768px){

    .menu-icon{
        display: none;
    }
    .close{
        display: none;
    }

 /*************************************Nav*******************************/
      .navbar-main{ 
          
        .navbar-contents{
           
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            align-items:flex-end;
            justify-content:space-between;
           
            .menu-container{
                position:initial;
                display: flex;
                flex-direction: row;
                justify-content:flex-end;
                padding-right: 5px;
                margin-bottom: 12px;
                li{
                    padding-left:26px;
                    a{
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 22px;
                        letter-spacing: 0.01em;
                    }
                }
            }
        }
    }



/****************************************Home*********************************/
    .home-section{
        padding-bottom: 56px;
        .home-contents{
            
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            flex: 1;
            justify-content: space-between;
            .left-contents{
               width:40%;
               align-items: flex-start;
                .danger-info .danger-icon,.danger-text{
                    font-size: 18px;
                    line-height: 40px;
                    font-weight: 500;
                    letter-spacing: 0.02em;
                }
                .bold-subhead{
                    font-size: 42px;
                    font-weight: 700;
                    line-height: 56px;
                    padding-top: 2px;
                }
               
                .description{
                    text-align: left;
                    padding-top: 20px;
                    font-size: 22px;
                    font-weight: 400;
                    letter-spacing: 0.02em;
                    line-height: 40px;
                    color: rgba(51, 51, 51, 0.65);
                    
                }
                .bold-subhead{
                    text-align: left;
                }
                .help-container{
                    padding: 30px 0 0 0;
                    .help-btn{
                        font-size: 24px;
                        line-height: 29px;
                        font-weight: 500;
                        padding: 24px 56px 24px 56px;
                        border-radius: 24px;
                        cursor: pointer;
                    }
                  
                }
               
            }
            .right-contents{
                width: 50%;
                padding-right: 20px;
               img{
                   width: 100%;
                   height: auto;

               }
            }
        }
    }


/***********************info*********************************/

    .info-fluid{
        
        .info-container{
            max-width: 1200px;
            margin: 0 auto;
            .details-container{
                display: flex;
                flex-direction: row;
                padding-top: 40px;
                width:90%;
                align-items: center;
                justify-content: space-evenly;
              
            }
        }
    }


/*****************************action*************************************/

.action-fluid{

    .action-container{

        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .action-left{
        width: 40%;
       
    }
    .action-right{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width:50% ;
       
        .action-points{
            
            li{
                position: relative;
               
            }
        }
    }
}

/********************************************Prevention*********************************/

.prevention-fluid{

    .prevention-container{
        max-width: 1200px;
        margin: 0 auto;
     
        .cards-container{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;
            margin: 0;
            padding-top: 50px;
            width: 100%;
            }
        

        .prevention-info{
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left:58px;
            padding-right: 58px;
        }
    }
}


/************************symptoms********************/
    .symptoms-fluid{
        
        .symptoms-container{
            max-width: 1200px;
            margin: 0 auto;
            width: 854px;
        }
    }


/**************************************contact*****************************/

.contact-fluid{
    .contact-container{
        max-width: 1200px;
        margin: 0 auto;
        align-items: center;
        .contact-info{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-evenly;
            padding-top: 50px;

            .right-section{
            .right-form{
                .input-box,.help-box{
                    width: 380px;
                }
            }
        }

        }
    }
}




}






