@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
}

body.no-scroll{
    overflow: hidden;
}
/**********************************Nav************************/
.navbar-main{
 
    .navbar-contents{
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        .logo{
            padding: 32px 0px;
            img{
                height: 67px;
            }
        }
    }
}

.menu-container{
    position: absolute;
    z-index: 999;
    top:0;
    left:-100%;
    height: 100%;
    width: 100%;
    background-color: #fff;
    padding: 30px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    li {
        list-style-type: none;
        padding: 16px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        a {
            text-decoration: none;
            color: #333333; 
            font-size: 18px;
            font-weight: 400;
           
            &:hover{
                color: #44B564;
                transition: 0.3s ease-in-out;
            }
        }
    
        a:active, a.active{
            position:relative;
            color: #44B564;
            &::after{
                content: '';
                position: absolute;
               
                top: 28px;
                left: 45%;
                
                height: 7px;
                width: 7px;
                border-radius: 50%;
                color: #44B564; 
                background-color: #64CF83;
               
                margin-bottom: 11px;
            }
        }
          
          
    
        // a.active{
        // color: #44B564;
       
        // }
       
        // .circle{
        //     height: 7px;
        //     width: 7px;
        //     border-radius: 50%;
        //     background-color: #64CF83;
        //     margin-top: 12px;
        // }

     
    }
    
}

.menu-container.active{
    left:0;
}

.close{
    font-size: 32px;
    color: #44B564;
}
.menu-icon{
    display: block;
    position: relative;
    height: 30px;
    width: 30px;
    right: 30px;
    top: 50%;
    .bar{
        position: relative;
        height: 4px;
        width:22px;
        background-color: rgba(51, 51, 51, 0.65);;
        display: inline-block;
        left: 5px;
        &::before{
            content: '';
            position: absolute;
            height: 4px;
            width:22px;
            background-color: rgba(51, 51, 51, 0.65);;
            display: inline-block;
            top: -6px;
        }
        
        &::after{
            content: '';
            position: absolute;
            height: 4px;
            width:22px;
            background-color: rgba(51, 51, 51, 0.65);;
            display: inline-block;
            top: 6px;
        }
        
    }
}

.menu-icon.hide{
    display: none;
}


/**************Home********************/

.home-section{
    width: 100%;
    background-color: #fff;

    .home-contents{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 0 15px;
        justify-content: space-around;
        .right-contents{
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 80%;
            }
        }

        .left-contents{
            display: flex;
            flex-direction: column;
            align-items: center;
            .danger-info{
                .danger-icon,.danger-text{
                    font-size: 18px;
                    line-height: 40px;
                    font-weight: 500;
                    letter-spacing: 0.02em;
                    color: #ff0000;
                    text-align: center;
                }
            } 
            .bold-subhead{
                text-align: center;
                font-size: 39px;
                font-weight: 700;
                line-height: 56px;
            }
            .description{
                
                text-align: center;
                font-size: 22px;
                font-weight: 400;
                letter-spacing: 0.02em;
                line-height: 40px;
                color: rgba(51, 51, 51, 0.65);
              
            }
            .help-container{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 30px 0 60px 0;
                cursor: pointer;
              
                .help-btn{
                    background-color: #44B564;
                    color: #fff;
                    padding: 24px 56px 24px 56px;
                    border: 0;
                    border-radius:24px;
                    font-size: 18px;
                    font-family: 'Inter', sans-serif;
                    font-weight: 500;
                    cursor: pointer;
                }
            }
        }
    }
}


/**************************Info**********************************/

.info-fluid{
    width: 100%;
    .info-container{
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
        box-shadow: 0px 0px 57px -7px rgba(119, 119, 119, 0.12);
        border-radius: 24px;
        flex-direction: column;
        .details-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            
            .group1,.group2,.group3,.group4{
                display: flex;
                flex-direction:column;
                align-items: center;
                padding: 20px 0;
            }
            .title{
                font-size: 20px;
                font-weight: 500;
                line-height: 24px;
                text-align: center;
                color: #555555;
            }
            .count{
                padding-top: 10px;
                font-size: 28px;
                line-height: 34px;
                letter-spacing: 0.03em;
                color: #484848;
                font-weight: 600;
            }
            .detail{
                padding-top: 11px;
                font-size: 18px;
                line-height: 22px;
                color: #777777;
                font-weight: 500;
                text-align: center;
            }
        .group3 .count{
            color:#64CF82;
        }
        .group4 .count{
            color: #ff0000;
        }
         
        }
        .bottom-container{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding-top: 43px;
            padding-bottom: 25px;
            .contents{
                display: flex;
                align-items: center;
                .country{
                    padding-left: 12px;
                    font-size: 18px;
                    line-height: 22px;
                    color: #777777;
                }
                .operator{
                    padding-left: 10px;
                    color: #777777;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 17px;
                }
            }
            .date-info{
                padding-left: 8px;
                font-size: 16px;
                line-height: 22px;
                color: #777777;
            }
        }
    }
}



/*********************action***************************/

.action-fluid{
    width: 100%;
    margin-top: 50px;
    .action-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-between;
        .action-left{
           
            img{
                width: 100%;
                height: auto;
            }
        }

        .action-right{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding-top: 15px;
          .right-title{
            font-weight: 600;
            font-size: 36px;
            line-height: 40px;            
            letter-spacing: 0.02em;
            color: #333333;
          }

          .line{
              margin-top: 18.5px;
                width: 153px;
                background-color: #64CF83;
              border: 3px solid #64CF83;
          }
            .action-msg{
                padding-top: 32px;
                font-weight: 500;
                font-size: 20px;
                line-height: 32px;
                letter-spacing: 0.02em;
                color: #555555;
              
             
            }
            .action-points 
            {
                padding-top: 25px;  
                   
            
                li{
                    
                    list-style-type: none;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 32px;
                    letter-spacing: 0.02em;
                    color: #555555;
                    padding-bottom: 10px;
                    padding-left: 56px;
                   
                  
                &::before{
                    content: '';
                    position: absolute;
                    left: 0;
                    background-image: url('./Images/virus.svg');
                    background-repeat: no-repeat;
                    background-size: contain;
                    height: 32px;
                    width: 31px;
                    display: inline-block;
                }
    

                } 
            }

            .action-contact-round{
                display: flex;
                align-items: center;
                margin-top: 30px;
                border: 0;
                background:#fff;
                position: relative;
                align-self: flex-start;
              
                button{
                    position: absolute;
                    top: 11px;
                    left: 15.5px;
                    z-index: 99;
                    width: max-content;
                    border: 0;
                    background: #fff;
                    bottom: 14px;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    color: #444444;
                    cursor: pointer;

                }

            
            }
            
        }
    }
}
























/********************************DESKTOP****************************/

@media screen and(min-width:768px){

    .menu-icon{
        display: none;
    }
    .close{
        display: none;
    }

 /*************************************Nav*******************************/
      .navbar-main{ 
          
        .navbar-contents{
           
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            align-items:flex-end;
            justify-content:space-between;
           
            .menu-container{
                position:initial;
                display: flex;
                flex-direction: row;
                justify-content:flex-end;
                padding-right: 5px;
                margin-bottom: 12px;
                li{
                    padding-left:26px;
                    a{
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 22px;
                        letter-spacing: 0.01em;
                    }
                }
            }
        }
    }



/****************************************Home*********************************/
    .home-section{
        padding-bottom: 56px;
        .home-contents{
            
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            flex: 1;
            justify-content: space-between;
            .left-contents{
               width:40%;
               align-items: flex-start;
                .danger-info .danger-icon,.danger-text{
                    font-size: 18px;
                    line-height: 40px;
                    font-weight: 500;
                    letter-spacing: 0.02em;
                }
                .bold-subhead{
                    font-size: 42px;
                    font-weight: 700;
                    line-height: 56px;
                    padding-top: 2px;
                }
               
                .description{
                    text-align: left;
                    padding-top: 20px;
                    font-size: 22px;
                    font-weight: 400;
                    letter-spacing: 0.02em;
                    line-height: 40px;
                    color: rgba(51, 51, 51, 0.65);
                    
                }
                .bold-subhead{
                    text-align: left;
                }
                .help-container{
                    padding: 30px 0 0 0;
                    .help-btn{
                        font-size: 24px;
                        line-height: 29px;
                        font-weight: 500;
                        padding: 24px 56px 24px 56px;
                        border-radius: 24px;
                        cursor: pointer;
                    }
                  
                }
               
            }
            .right-contents{
                width: 50%;
                padding-right: 20px;
               img{
                   width: 100%;
                   height: auto;

               }
            }
        }
    }


/***********************info*********************************/

    .info-fluid{
        
        .info-container{
            max-width: 1200px;
            margin: 0 auto;
            background: #FFFFFF;
            box-shadow: 0px 0px 57px -7px rgba(119, 119, 119, 0.12);
            border-radius: 24px;
           
            .details-container{
                flex-direction: row;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
               
                width: 90%;
                padding-top: 40px;
                
                .group1,.group2,.group3,.group4{
                    display: flex;
                    flex-direction:column;
                    align-items: center;
                    justify-content: center;
                   
                }
                    .title{
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 24px;
                        text-align: center;
                        color: #555555;
                    }
                    .count{
                        padding-top: 10px;
                        font-size: 28px;
                        line-height: 34px;
                        letter-spacing: 0.03em;
                        color: #484848;
                        font-weight: 600;
                    }
                    .detail{
                        padding-top: 11px;
                        font-size: 18px;
                        line-height: 22px;
                        color: #777777;
                        font-weight: 500;
                        text-align: center;
                    }
                .group3 .count{
                    color:#64CF82;
                }
                .group4 .count{
                    color: #ff0000;
                }
            }

            .bottom-container{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                
                .contents{
                    display: flex;
                    align-items: center;
                        img{
                        border-radius: 2px;
                    }
                    .country{
                        padding-left: 22px;
                        font-size: 18px;
                        line-height: 22px;
                        color: #777777;
                    }
                    .operator{
                        padding-left: 10px;
                        color: #777777;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 17px;
                    }
                }
                .date-info{
                    padding-left: 13px;
                    font-size: 18px;
                    line-height: 22px;
                    color: #777777;
                }
            }
        }
    }


/*****************************action*************************************/

.action-fluid{

    .action-container{

        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .action-left{
        width: 40%;
       
    }
    .action-right{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width:50% ;
       
        .action-points{
            
            li{
                position: relative;
               
            }
        }
    }
}



}






